Repository yoriiis/tumblr-builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:eslint, test:stylelint, test:markdown

test:eslint:
  stage: test
  dependencies:
  - prepare:dependencies
  script:
  - npm run test:eslint

test:stylelint:
  stage: test
  dependencies:
  - prepare:dependencies
  script:
  - npm run test:stylelint

test:markdown:
  stage: test
  dependencies:
  - prepare:dependencies
  script:
  - npm run test:markdown

Add multiple examples (basic usage, custom pages, custom posts) Add custom template for pages and posts Reworks folder structure to sort templates
  README.md
  dist/tumblr.css.map
  dist/tumblr.js.map
  example/demo.js
  examples/assets/demo.css
  examples/assets/demo.js
  examples/basic-usage/basic-usage.js
  examples/basic-usage/index.html
  examples/custom-pages/custom-pages.js
  examples/custom-pages/index.html
  examples/custom-posts/custom-posts.js
  examples/custom-posts/index.html
  examples/dist/basic-usage.css
  examples/dist/basic-usage.js
  examples/dist/custom-pages.css
  examples/dist/custom-pages.js
  examples/dist/custom-posts.css
  examples/dist/custom-posts.js
  examples/webpack.config.js
  package.json
  src/scripts/templates/components/template-posts.js
  src/scripts/templates/components/template-related-posts.js
  src/scripts/templates/components/template-tags.js
  src/scripts/templates/pages/home.js
  src/scripts/templates/pages/post.js
  src/scripts/templates/pages/tagged.js
  src/scripts/templates/posts/audio.js
  src/scripts/templates/posts/chat.js
  src/scripts/templates/posts/link.js
  src/scripts/templates/posts/photo.js
  src/scripts/templates/posts/quote.js
  src/scripts/templates/posts/text.js
  src/scripts/templates/posts/video.js
  src/scripts/tumblr.js
Due: test:eslint, test:stylelint, test:markdown

Add deploy by Gitlab CI Add netlify demo in examples Remove darkmode from all examples except netlify demo
  .gitlab-ci.yml
  dist/tumblr.css.map
  dist/tumblr.js.map
  examples/basic-usage/basic-usage.js
  examples/basic-usage/index.html
  examples/custom-pages/custom-pages.js
  examples/custom-pages/index.html
  examples/custom-posts/custom-posts.js
  examples/custom-posts/index.html
  examples/dist/basic-usage.css
  examples/dist/basic-usage.js
  examples/dist/custom-pages.css
  examples/dist/custom-posts.css
  examples/dist/custom-posts.js
  examples/dist/netlify.css
  examples/dist/netlify.js
  examples/netlify/index.html
  examples/netlify/netlify.css
  examples/netlify/netlify.js
  examples/webpack.config.js
  netlify.toml
  src/styles/base.css
Due: test:eslint, test:stylelint

Add VuePress for all documentation Add data attribute for infinite scroll Remove CSS components nav and relatied posts (move to base)
  .gitignore
  .gitlab-ci.yml
  README.md
  dist/tumblr.css
  dist/tumblr.css.map
  dist/tumblr.js
  dist/tumblr.js.map
  docs/.vuepress/config.js
  docs/.vuepress/styles/palette.styl
  docs/README.md
  docs/guide/README.md
  docs/guide/available-methods.md
  docs/guide/custom-pages.md
  docs/guide/custom-posts.md
  docs/guide/getting-started.md
  docs/guide/how-it-works.md
  examples/custom-pages/custom-pages.js
  examples/dist/basic-usage.css
  examples/dist/basic-usage.js
  examples/dist/custom-pages.css
  examples/dist/custom-pages.js
  examples/dist/custom-posts.css
  examples/dist/custom-posts.js
  examples/dist/netlify.css
  examples/dist/netlify.js
  examples/netlify/netlify.css
  package-lock.json
  package.json
  src/scripts/styles.js
  src/scripts/templates/pages/home.js
  src/scripts/templates/posts/link.js
  src/scripts/tumblr.js
  src/styles/base.css
  src/styles/components/card.css
  src/styles/components/nav.css
  src/styles/components/related-posts.css
  src/styles/reset.css
  src/styles/types/link.css
Due: test:eslint, test:stylelint, test:markdown

Update CI with docs and example
  .gitlab-ci.yml
  netlify.toml
Due: none

Remove map files
  .gitlab-ci.yml
  dist/tumblr.css.map
  dist/tumblr.js.map
  examples/dist/demo.js
Due: none

Review and improve all documentation Move example netlify to demo
  docs/.vuepress/config.js
  docs/README.md
  docs/guide/available-methods.md
  docs/guide/custom-pages.md
  docs/guide/custom-posts.md
  docs/guide/getting-started.md
  docs/guide/how-it-works.md
  examples/demo/demo.css
  examples/demo/demo.js
  examples/demo/index.html
  examples/webpack.config.js
  src/scripts/tumblr.js
Due: test:eslint, test:stylelint

Update eslint and stylelint config
  docs/guide/how-it-works.md
  examples/demo/demo.css
  package.json
Due: none

Add Webpack library export default Rename lib to TumblrBuilder Separate tumblr dependency into dedicated files
  dist/tumblr.css
  dist/tumblr.css.map
  dist/tumblr.js
  dist/tumblr.js.map
  docs/.vuepress/config.js
  docs/guide/README.md
  docs/guide/deploying.md
  examples/basic-usage/basic-usage.js
  examples/basic-usage/index.html
  examples/custom-pages/custom-pages.js
  examples/custom-pages/index.html
  examples/custom-posts/custom-posts.js
  examples/custom-posts/index.html
  examples/demo/demo.js
  examples/dist/basic-usage.js
  examples/dist/custom-pages.js
  examples/dist/custom-posts.js
  examples/dist/demo.css
  examples/dist/demo.js
  webpack.config.js
Due: none

Add Github action CI
  .github/workflows/ci.yml
  _.gitlab-ci.yml
Due: none

Fix ESLint Add deploy on CI
  .github/workflows/ci.yml
  examples/basic-usage/basic-usage.js
  examples/custom-pages/custom-pages.js
  examples/custom-posts/custom-posts.js
  examples/demo/demo.js
Due: none

Split Github workflows (build, deploy gh and netlify) Add markdown auto indent with Prettier Move docs markdown indent to 2 spaces
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  _.gitlab-ci.yml
  docs/.vuepress/config.js
  docs/guide/available-methods.md
  docs/guide/custom-pages.md
  docs/guide/custom-posts.md
  docs/guide/how-it-works.md
  examples/dist/basic-usage.css
  examples/dist/basic-usage.js
  examples/dist/custom-pages.css
  examples/dist/custom-pages.js
  examples/dist/custom-posts.css
  examples/dist/custom-posts.js
  examples/dist/demo.js
  examples/dist/netlify.css
  examples/dist/netlify.js
  netlify.toml
  netlify/dist/netlify.css
  netlify/dist/netlify.js
  netlify/index.html
  netlify/netlify.css
  netlify/netlify.js
  netlify/webpack.config.js
  package.json
Due: none

Add cache node_modules in the CI Fix Netlify demo Update docs
  .github/workflows/build.yml
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/guide/README.md
  docs/guide/deploying.md
Due: none

Update docs (colors, badge)
  .github/workflows/build.yml
  dist/tumblr.css
  dist/tumblr.js
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
  docs/.vuepress/styles/palette.styl
  docs/guide/available-methods.md
  docs/guide/getting-started.md
  docs/guide/how-it-works.md
  examples/basic-usage/index.html
  examples/custom-pages/index.html
  examples/custom-posts/index.html
  package.json
Due: none

Disable markdown rule
  .markdownlint.yml
Due: none

Test commit with node modules cached
  CHANGELOG.md
Due: none

Update CI to keep history on Github pages Update main README
  .github/workflows/build.yml
  README.md
Due: test:markdown

Rename entrypoint to TumblrBuilder Update docs Add CHANGELOG
  CHANGELOG.md
  README.md
  dist/tumblr-builder.css
  dist/tumblr-builder.js
  docs/guide/README.md
  docs/guide/available-methods.md
  docs/guide/custom-pages.md
  docs/guide/custom-posts.md
  docs/guide/deploying.md
  docs/guide/how-it-works.md
  examples/basic-usage/index.html
  examples/custom-pages/index.html
  examples/custom-posts/custom-posts.js
  examples/custom-posts/index.html
  examples/dist/basic-usage.js
  examples/dist/custom-pages.js
  examples/dist/custom-posts.js
  netlify/dist/netlify.js
  netlify/netlify.js
  src/scripts/index.js
  src/scripts/templates/pages/tagged.js
  src/scripts/tumblr-builder.js
  webpack.config.js
Due: test:eslint, test:stylelint, test:markdown

Lock deploy for master branch
  .github/workflows/build.yml
Due: none

Update repository name
  .github/workflows/build.yml
  README.md
  docs/.vuepress/config.js
  docs/guide/README.md
  package.json
Due: test:markdown

Update CI to build Netlify demo
  .github/workflows/build.yml
  .gitignore
  docs/.vuepress/config.js
  netlify.toml
Due: none

Updates and clean
  .github/ISSUE_TEMPLATE/bug.md
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/extensions.json
  .vscode/settings.json
  default-theme.html
  docs/.vuepress/config.js
  docs/.vuepress/public/icons/android-chrome-192x192.png
  docs/.vuepress/public/icons/apple-touch-icon-152x152.png
  docs/.vuepress/public/icons/msapplication-icon-144x144.png
  docs/.vuepress/public/manifest.json
  docs/README.md
  examples/basic-usage/basic-usage.js
  examples/custom-pages/custom-pages.js
  examples/custom-posts/custom-posts.js
  examples/dist/basic-usage.js
  examples/dist/custom-pages.js
  examples/dist/custom-posts.js
  netlify/netlify.css
  package-lock.json
  package.json
  src/svgs/like.svg
  src/svgs/retweet.svg
  webpack.config.js
Due: test:eslint, test:stylelint

Fix VuePress config
  README.md
  docs/.vuepress/config.js
Due: test:markdown

Fix stylelint tests
  package.json
Due: none

Fix when browser storage are empty and always used
  dist/tumblr-builder.css
  dist/tumblr-builder.js
  src/scripts/tumblr-builder.js
Due: test:eslint, test:stylelint

Update style for Tumblr Update CI
  .github/workflows/build.yml
  .gitignore
  netlify/dist/netlify.css
  netlify/dist/netlify.js
  netlify/netlify.css
Due: none

Remove dist folder before npm build Add message on Netlify and GH deploy
  .github/workflows/build.yml
  dist/tumblr-builder.css
  dist/tumblr-builder.js
  dist/tumblr.css
  dist/tumblr.js
  docs/.vuepress/config.js
  examples/basic-usage/index.html
  examples/custom-pages/index.html
  examples/custom-posts/index.html
  examples/dist/basic-usage.js
  examples/dist/custom-pages.js
  examples/dist/custom-posts.js
  netlify/dist/netlify.css
  netlify/dist/netlify.js
  netlify/netlify.js
  package-lock.json
  package.json
  src/scripts/tumblr-builder.js
Due: test:eslint, test:stylelint

Review and update docs Add npmignore
  .npmignore
  README.md
  dist/tumblr-builder.css
  dist/tumblr-builder.js
  docs/.vuepress/config.js
  docs/README.md
  docs/guide/README.md
  docs/guide/available-methods.md
  docs/guide/custom-pages.md
  docs/guide/custom-posts.md
  docs/guide/deploying.md
  docs/guide/getting-started.md
  docs/guide/how-it-works.md
  examples/basic-usage/basic-usage.js
  examples/custom-pages/custom-pages.js
  examples/custom-posts/custom-posts.js
  examples/dist/basic-usage.js
  examples/dist/custom-pages.js
  examples/dist/custom-posts.js
  netlify/netlify.js
  package-lock.json
  package.json
  src/scripts/templates/pages/tagged.js
  src/scripts/tumblr-builder.js
  src/styles/base.css
Due: test:eslint, test:stylelint, test:markdown

Fix lint markdown
  .github/workflows/build.yml
  docs/guide/custom-pages.md
Due: none

Lock CI
  .github/workflows/build.yml
Due: none

Update CHANGELOG Update docs
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/guide/custom-pages.md
  src/scripts/templates/pages/home.js
  src/scripts/templates/pages/post.js
  src/scripts/templates/pages/tagged.js
  src/scripts/templates/posts/audio.js
  src/scripts/templates/posts/chat.js
  src/scripts/templates/posts/link.js
  src/scripts/templates/posts/photo.js
  src/scripts/templates/posts/quote.js
  src/scripts/templates/posts/text.js
  src/scripts/templates/posts/video.js
Due: test:eslint, test:stylelint

Update markdownlint config to prevent duplicate header on changelog
  package.json
Due: none

Deploy to GitHub pages
  .vuepress/config.js
  404.html
  assets/js/10.54495d2e.js
  assets/js/app.7178ebb2.js
  guide/available-methods.html
  guide/custom-pages.html
  guide/custom-pages.md
  guide/custom-posts.html
  guide/deploying.html
  guide/getting-started.html
  guide/how-it-works.html
  guide/index.html
  index.html
  service-worker.js
Due: none

Update badge Add npm keywords
  README.md
  package.json
Due: test:markdown

Deploy to GitHub pages
  404.html
  assets/js/10.fe8e8106.js
  assets/js/9.74da50ff.js
  assets/js/app.23987518.js
  guide/available-methods.html
  guide/custom-pages.html
  guide/custom-posts.html
  guide/deploying.html
  guide/getting-started.html
  guide/how-it-works.html
  guide/index.html
  index.html
  service-worker.js
Due: none

Fix broken links on docs
  docs/.vuepress/config.js
  docs/guide/README.md
Due: none

Deploy to GitHub pages
  .vuepress/config.js
  404.html
  assets/js/8.03686727.js
  assets/js/app.873d12d5.js
  guide/README.md
  guide/available-methods.html
  guide/custom-pages.html
  guide/custom-posts.html
  guide/deploying.html
  guide/getting-started.html
  guide/how-it-works.html
  guide/index.html
  index.html
  service-worker.js
Due: none

Test update
  README.md
Due: test:markdown

Reset change
  README.md
Due: test:markdown

Test fork project update CI
  .github/workflows/build.yml
Due: none

Test fork project update CI (next)
  .github/workflows/build.yml
Due: none

Path conditions:
  test:eslint: any of: src/**/*, example/**/*
  test:stylelint: any of: src/**/*, example/**/*
  test:markdown: any of: README.md
